body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: green;
  margin: 0;
}

.card {
  font-size: 80px;
  text-align: center;
  display: inline-block;
  background: white;
  margin: auto;
  width: 250px;
  height: 250px;
  border-radius: 20px;
  padding: 20px;
  padding-top: 180px;
  border: 2px solid black;
  position: relative;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  .top-suited {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 80px;
  }

  .bottom-suited {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 80px;
    transform: rotate(180deg);
  }
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgb(182, 182, 182);
  color: white;
}

button:hover {
  background-color: rgb(34 39 42);
}
